.modal_container {
  z-index: 100;
  background: rgba(255, 252, 215, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.modal_container.hidden {
  display: none;
}

.modal_container .content_wrap {
  width: 40vw;
  height: 80%;
  min-width: 620px;
  background: #fff8b0;
  border-radius: 25px;
  color: #7a1347;
  padding: 30px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-gap: 8px;
}

.modal_container .content_wrap .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.modal_container .content_wrap .title_wrap .title {
  font-weight: bold;
  font-size: 24px;
}

.modal_container .content_wrap .title_wrap img {
  cursor: pointer;
}

.modal_container .content_wrap .worksheet_preview {
  background: #fffcd7;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.modal_container .content_wrap .worksheet_preview .preview_preloader {
  position: absolute;
  z-index: 1;
}

.modal_container .content_wrap .worksheet_preview .preview_preloader.hidden {
  display: none;
}

.modal_container .content_wrap .worksheet_preview .img_wrap {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.modal_container .content_wrap .worksheet_preview .img_wrap:hover {
  cursor: pointer;
}

.modal_container .content_wrap .worksheet_preview .img_wrap .preview_img {
  position: absolute;
  height: 100%;
  z-index: 2;
}

.modal_container .content_wrap .cta_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_container .content_wrap .cta_wrapper .btn {
  margin-right: 1rem;
  border-radius: 4px;
  color: #fcfcfc;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.modal_container .content_wrap .cta_wrapper .btn.primary {
  background: #7a1347;
  border: 1px solid #5c0f36;
}

.modal_container .content_wrap .cta_wrapper .btn.secondary {
  background: #42113c;
  border: 1px solid #42113c;
}

.modal_container .content_wrap .cta_wrapper .btn:hover,
.modal_container .content_wrap .cta_wrapper .btn:focus {
  cursor: pointer;
  color: #fff8b0;
}
